.foto{
  width: 800px;
  margin: 10px;
  
}

.titulo{
  color:rgb(90, 28, 28);
  margin-left:350px ;
  background-color:rgb(169, 223, 169) ;
}
.nombre{
  color: rgb(144, 8, 8);
font-size: 45px;


   
}
.detalle{
  color: rgb(202, 102, 119);
  margin-left: 150px;
  font-size: 20px;
}
.caja{
  width: 50%;
  height: 500px;
  background:rgb(197, 194, 194) ;
  margin: 50px 150px;
  padding:200px;
  padding-bottom: 200px;
  padding-top: 40px;
  padding-left: 60px;
  border:12px dashed rgb(44, 26, 26)
}